extends _layout

block header
    h1 DPKG Package Details
block content
    div.description-container
        h2 Name
        div.description= name
    div.description-container
        h2 Description
        div.description= description
    div.dependencies-container
        h2 Dependencies
        div.dependencies
            each dependency in dependencies
                if dependency.isInstalled
                    a(href=`/package/${dependency.name}`) #{dependency.name}
                else
                    | #{dependency.name}
                |
                |
            else
                | No Dependencies Found
    |
    br
    a(href='/') Go back to Index.
